@font-face {
  font-family: 'MyWebFont';
  src: 
    url('vendor/YanoneKaffeesatz-Light.ttf')
}

body {
    font-family: 'MyWebFont', Fallback, sans-serif;
    /*font-size: 1.2em;*/
    background-image: url("images/crossword.png");
    position: relative;
}

nav#my-navbar.navbar.navbar-default {
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav#my-navbar.navbar.navbar-default > .container-fluid {
    padding: 0;
    background-color: black;
    font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.page {
/*    height: 100%;*/
    min-height: 55em;
    padding: 1em;
}

.dotted-line {
    border-bottom: 2px dotted grey;
    margin: 0 5%;
}

#page-0 {
   background-image: url("images/sf_large.jpg");
   background-size: cover;
}

#welcome-container {
    background-color: rgba(255,255,255,0.2);
    width: 50%;
    border: 0.1em solid #D8D8D8;
    height: 12.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 0.8em;
    text-align: center;
}

/*about*/

#personal-img, #about-me {
    display: inline-block;
    vertical-align: top;
}

#personal-img {
    width: 25%;
    margin-top: 25px;
}

#about-me {
    margin-left: 20px;
    width: 50%;
}

#personal-img img {
    width: 100%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius: 10px;
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
}

#personal-img img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

h3.text {
    font-size: 22px;
}

#dress {
    max-width: 100%;
}

#dress-div {
    display: inline-block;
    width: 20%;
}

/*recent work*/

#wedesign, #poieo, #cateroids, #work-progress {
    margin-bottom: 5%;
}

p.title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

#work-progress {
    text-align: center;
    margin-top: 5%;
}

#work-progress p {
    font-size: 1.5em;
}

#dev-icon {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    height: 20%;
    margin: 1%;
}

#wedesign img, #poieo img, #cateroids img {
    width: 100%;
    border: 0.1em solid #f5f5f5;
}

#wedesign img:hover, #poieo img:hover, #cateroids img:hover {
    opacity: 0.6;
    cursor: pointer;
}

.modal-img {
    text-align: center;
    margin-bottom: 1em;
}

.modal-img img {
    width: 100%;
}

.modal-footer p, .modal-footer a {
    display: inline-block;
    float: left;
}

.modal-footer a {
    text-decoration: none;
    color: black;
}

.modal-footer a:hover {
    cursor: pointer;
    opacity: 0.5;
}

.modal-footer p.divider {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

/*skills*/

@media screen and (min-width: 768px) { 
    #logo-overview .row {
       display: flex;
       flex-direction: row;
    }

    #logo-overview [class^="col-"],
    #logo-overview [class*=" col-"] {
        display: flex;
        align-items: center;
    }
}

#logo-overview img {
    width: 75%;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

/*.logo img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    height: 80px;
}*/

#logo-overview img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

#new-skill {
    text-align: center;
}

#months {
    text-align: left;
    margin-left: 25%;
}

#months p {
    font-size: 1.5em;
}

#active-month {
    color: #F660AB;
    font-weight: bold;
}

#resume {
    text-align: center;
    margin-top: 5%;
}

#resume a img {
    height: 80px;
    opacity: 0.7;
}

/*Contact*/

#page-4 {
    position: relative;
}

#page-4::after {
  content: "";
  background-image: url('images/paper-airplane-copy.png');
  background-size: cover;
/*  background: url(image.jpg);*/
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#contact  {
    position: relative;
}

#plane-img {
    width: 100%;
    opacity: 0.1;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#send-form {
    float: right;
    margin: 0.3em;
    opacity: 0.6;
}

#send-form:hover {
    cursor: pointer;
    opacity: 1;
}

#send-form img {
    height: 30px;
}

#thank-you-note {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 50%;
    color: #F660AB;
    text-align: center;
}

#thank-you-note img {
    height: 40px;
    opacity: 0.7;
}

#thank-you-note h3 {
    margin-top: 5px;
}

textarea:focus, input[type="text"]:focus, input[type="submit"]:focus, #sender_message:focus, #send-form:active {
    border-color: rgba(246, 96, 171, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(246, 96, 171, 0.6);
    outline: 0 none;
}

#contact-information {
    text-align: center;
}

#all-circles a:hover {
    text-decoration: none;
    cursor: pointer;
}

.contact-circle {
    height: 7em;
    width: 7em;
    border-radius: 50%;
    background-color: #d0d0d0;
    text-align: center;
}

.contact-circle img {
    height: 2.8em;
    position: relative;
    top: 50%;
    margin-top: -1.4em;
}

@media screen and (max-width: 768px) { 
    .contact-circle {
        height: 14em;
        width: 14em;
        border-radius: 50%;
        background-color: #d0d0d0;
        text-align: center;
    }

    .contact-circle img {
        height: 5.6em;
        position: relative;
        top: 50%;
        margin-top: -2.8em;
    }
}

#email, #phone, #linkedin, #github, #pinterest {
    display: inline-block;
    margin: 10px;
}

.pink {
    color: #F660AB;
    font-weight: bold;
    margin: 5px;
}

.contact {
    font-size: 14px;
    color: grey;
}

/*footer*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    overflow: hidden;
    /*background-color: #f5f5f5;*/
}

.container-footer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

/*error messages*/

.close:active, .close:focus {
    border-color: rgba(246, 96, 171, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(246, 96, 171, 0.6);
    outline: 0 none;
}

#list-error-message {
    display: none;
    position: absolute;
    top: 10%;
    right: 10%;
    width: 50%;
}

#close-errors {
    opacity: 0.5;
}

.alert-warning {
    background-image: none;
    background-color: #ff8080;
    border-color: red;
    opacity: 0.9;
    color: white;
}

